#slider{
	width: 60%;
	height: 70%;
	margin-top: 20%;
	overflow: hidden;
}

#polosa {
	width: 700%;
	position: relative;
	left: 0;
	transition: all ease 2s;
}

#polosa img{
	float: left;
margin-right: 5%;
margin-left: 2%;
}

#polosa::after{
	content: "";
	display: block;
	clear: both;
}

